.contact-section {
    background: var(--color-text);
}

.contact-intro {
    grid-column: 1 / -1;
}

.contact-links {
    grid-column: 1 / -1;

    display: flex;
    gap: var(--space-lg);
}

@media (max-width: 768px) {
    .contact-links {
        gap: var(--space-md);
        flex-direction: column;
    }
}