.section-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.section-header-heading {
    line-height: 1;

    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.section-header-divider {
    width: 48px;
    height: 5px;

    background: var(--color-accent);
    border-radius: 10px;
}

.section-light {
    color: var(--color-text);
}

.section-dark {
    color: var(--color-text-light);
}

.section-header-description {
    max-width: 50ch;
}

.section-eyebrow-light {
    color: var(--color-accent);
}

.section-eyebrow-dark {
    color: var(--color-accent-light);
}
