.project-screenshot-slide {
    width: 100%;
    overflow: hidden;

    background: #252A30;
    color: var(--color-text-light);
    box-shadow: var(--portfolio-color-surface-shadow);

    display: flex;
    flex-direction: column;
}

.project-screenshot-details {
    width: 100%;
    padding: var(--space-md);

    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.project-screenshot-text {
    flex: 1;
    min-width: 0;

    display: flex;
    gap: var(--space-xs);
    flex-direction: column;
}

.project-screenshot-title,
.project-screenshot-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-screenshot-counter {
    margin-left: auto;

    color: var(--color-text-light-muted);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
}

.project-screenshot-description {
    color: var(--color-text-light-muted);
}

@media (max-width: 768px) {
    .project-screenshot-icon-wrapper {
        width: 40px;
        height: 40px;
        border-radius: var(--radius-sm);
    }

    .project-screenshot-icon {
        width: 20px;
        height: 20px;
    }

    .project-screenshot-title {
        font-size: var(--font-size-base);
    }
}

@media (max-width: 600px) {
    .project-screenshot-details {
        padding: var(--space-sm);
    }
}