.uno-draw-pile-card {
    position: relative;
    width: var(--uno-card-width);
    height: var(--uno-card-height);
    padding: var(--uno-card-padding);

    background: var(--uno-card-background-frame);
    border-radius: var(--uno-card-border-radius);

    border-left: 1px solid rgb(255 255 255 / .05);
    border-right: 1px solid rgb(255 255 255 / 0.05);

    box-shadow:
            inset 0 1px 0 rgb(255 255 255 / .05), /* inset highlight */
            inset 0 -1px 3px rgb(0 0 0 / 0.1), /* inset shadow */
            0 4px 16px rgb(0 0 0 / 0.1), /* shadow */
            0 1px 0 rgb(255 255 255 / .05), /* bottom edge */
            0 0 0 2px var(--uno-card-hover-ring-color) /* focus ring shadow */;

    transition: box-shadow 0.2s ease-in-out;
}

.uno-draw-pile-face {
    height: 100%;
    width: 100%;
    border-radius: var(--uno-card-border-radius);
    background: var(--uno-card-background-dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

.uno-draw-pile-card:disabled:hover {
    --uno-card-hover-ring-color: rgb(255 255 255 / 0.4);
}

@media (hover: hover) and (pointer: fine) {
    .uno-draw-pile-card.uno-draw-pile-card-is-drawable:hover {
        --uno-card-hover-ring-color: var(--uno-accent-light);
    }

    .uno-draw-pile-card:hover .game-tooltip {
        opacity: 1;
    }
}