.footer-section {

    padding-block: var(--space-xl);
    background: var(--color-text);
}

.footer-content {
    grid-column: 1/-1;

    color: var(--color-text-light);
    font-size: var(--font-size-base-lg);
    font-weight: var(--font-weight-semibold);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
}

.footer-email {
    transition: color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
    .footer-email:hover {
    }
}