.uno-game-board {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

@media (max-width: 500px) {
    .uno-game-board {
        gap: var(--space-lg);
    }
}