.current-player-dot {
    position: fixed;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-text);
    box-shadow:
            0 0 8px rgba(255,255,255,.8),
            0 0 16px rgba(255,255,255,.4);
    pointer-events: none;
}